#root {
  margin: 0 auto;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

#wave {
  position: absolute;
  bottom: 0;
  z-index: -2;
}

.info-container {
  padding: 0 160px;
}
